---
const {tag, tagClass} = Astro.props

---
<div class="text-2xl">{`<`}<span class="text-red">{tag}</span> <span class="text-green">class</span>=<span class="text-yellow">"{tagClass}"</span>{`>`}</div>
    <slot/>
<div class="text-2xl">{`</`}<span class="text-red">{tag}</span>{`>`}</div>