---

import Tag from '../components/tag/tag.astro'
import Terminal from '../components/terminal/terminal.astro'
import FullStack from '../components/typed/title'
import MainBanner from "../components/motion/mainBanner"
import ComingSoon from '../components/typed/comingSoon'
import ProjectCard from '../components/portfolio-projects/ProjectCard.tsx'
import {techIcons} from '../icons'
import '../app.css'

---
 
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="keywords" content={`s1ma82, front-end, s1ma, sima, sima82, full-stack, Симанович Даниил Алексеевич, Симанович, Симанович Даниил, Симанович Данил, Симонович Даниил. `}/>
        <meta property="og:title" content="s1ma82 (Симанович Даниил)" /> 
        <meta property="og:description" content="Front-end разработчик из Симферополя" />
        <meta property="og:image" content="https://me.s1ma82.ru/favicon.png" /> 
        <meta property="og:type" content="website" />
		<meta name="generator" content={Astro.generator} />
		<meta name="yandex-verification" content="367354b43480376a" />
		<title>s1ma82</title>
	</head>
	<body class="bg-background p-6 overflow-x-hidden">
		<article class="
			prose
			flex
			gap-0
			flex-col
			items-center

			dark:prose-invert
			mx-auto
			prose-headings:font-family-title
			prose-p:text-2xl
			prose-p:h-fit
			*:m-0
			img:m-0
			prose-code:text-[12px]
			prose-pre:rounded-3xl
			prose-pre:w-full
		" >
			<!-- <h4 class="bg-dark-blue px-2 py-1 rounded-2xl">Открывай страницу на ПК</h4> -->
			<!-- <Terminal /> -->
		</article>
		<div class="hidden md:block">
		<section class="flex justify-between h-[640px] mb-16">
			
			<MainBanner client:idle/>
		
		</section>
		<section class="relative" id="1section">
			<Tag tag="h1" tagClass="title">
				<h1 class="text-4xl text-center py-10 absolute top-10 left-1/2 translate-x-[-200px]"><b>Front-end</b> & <FullStack client:idle/></h1>
				<div class="h-[150px]"></div>
			</Tag>
			<Tag tag="p" tagClass="about-me">
				<p class="ml-14 text-[20px] py-2">
					Человек-оркестр в разработке. Развиваюсь во всём, до чего дотягиваюсь, — люблю разбираться, экспериментировать и находить связи между разными областями. Хочу уметь делать всё сам, но ценю командную работу и обмен идеями.Получаю удовольствие от самого процесса обучения — от технологий и инноваций в IT до истории и культур разных стран.
					</br></br>
					Профессию выбрал в 14 лет, потому что мечтал познать мир и увидеть его своими глазами. Разработка для меня — способ расти, создавать и, однажды, построить что-то своё.
				<div class="flex justify-end items-center text-[20px] gap-3">
					<span class="opacity-70">И вообще, я просто обожаю технику.</span>
					<img src="CpuFill.svg" alt="Процессор? Что?"/>
				</div>
				</p>
			</Tag>
		</section>
		<section class="relative">
			<Tag tag="div" tagClass="terminal">
				<Terminal/>
			</Tag>
		</section>
		<section>
			<Tag tag="ul" tagClass="business-experience">
				<section class="pl-16">
					<Tag tag="li" tagClass="best-project">
						<ProjectCard client:idle
							imgs={['scr.png']} 
							height={500}
							width={800}
							icons={[['react', 'nextjs', 'sass', 'vite', 'redux', 'ts']]}
						>

                        <h2 class="text-3xl w-full text-center font-bold font-inter">Сайт для <span class="text-blue">Симферопольского колледжа радиоэлектроники</span>.</h2>
                        <div class="flex flex-col">
                        <p class="text-[20px] w-full font-medium">
                            Отвечал за разработку клиентской части сайта, админку и редактор контента на базе Tiptap. <br/>
                        </p>
                        <p class="text-[20px] w-full font-medium">
                            Отдельная благодарность Бэкендеру проекта, за лаконичное API.
                        </p>
                        <div class="flex gap-3 [&>img]:rounded-xl h-[144px] py-2">
                            <img 
                                class="object-cover h-full cursor-grab transition-[0.3s] duration-300 delay-200 hover:scale-260 "
                                src="scr1.jpg" alt="" 
                            />
                            <img 
                                class="object-cover h-full cursor-grab transition-[0.3s] duration-300 delay-200 hover:scale-260 "
                                src="scr2.jpg" alt="" 
                            />
                        </div>
                        <ul
                            class="flex flex-col list-disc pl-6 text-[20px]"
                        >
                            <li>Человек в команде: <span class="text-blue">3</span></li>
                            <li>Команда: <span class="text-yellow">UI/UX</span>, <span class="text-green">Back+DevOps</span>, <span class="text-blue">Front-end</span></li>
                            <li>Моя роль: <span class="text-blue">Front-end</span> <span class="text-gray">обновляю проект и по сей день</span></li>
                        </ul>
                        </div>
						</ProjectCard>
					</Tag>

					<Tag tag="li" tagClass="freelance-project">
						<ProjectCard client:idle
							imgs={['baraholka.jpg', 'baraholka2.jpg','baraholka1.jpg']} 
							height={500}
							width={1000}
							icons={[
								['react', 'zustand', 'sass', 'vite', 'ts'], 
								['bun', 'elisya', 'grammyjs', 'webpack'],
								['ubuntu', 'pm2', 'nginx', 'sqlite'],
							]}
						>

                        <h2 class="text-3xl w-full text-center font-bold font-inter"><span class="text-green">Интернет каталог.</span></h2>
                        <div class="flex flex-col">
                        <p class="text-[20px] w-full font-medium"><pre>
Сложная задача с ограниченным бюджетом и ресурсами.
Задача:
    Создать <span class="text-dark-blue">Mini-app</span> каталог товаров, для местного предпринимателя.

Итог работы: 
    Был разработан телеграмм-бот и мини-приложение.
    Бот парсит сообщения из телеграмм канала, в котором постятся карточки товаров, и        
    загружает их в базу, откуда мини-приложение их отрисовывает. 
    Так-же через бота происходит управление заказами.
    От хостинга требовалась максимальная бюджетность, поэтому проект требует минимальное       
    количество ресурсов.
</p>
					</pre/>
                        <ul
                            class="flex flex-col list-disc pl-6 text-[20px]"
                        >
                            <li>Человек в команде: <span class="text-blue">1</span></li>
                            <li>Моя роль: 
							<span class="text-blue">Full-stack</span>, 
							<span class="text-green">DevOps</span>, 
							<span class="text-red">UX</span>,
							<span class="text-yellow">UI</span>, 
							<span class="text-[#68FFC3]">общение с заказчиком</span>,

							</li>
                        </ul>
                        </div>
						</ProjectCard>
						</Tag>
				</section>
			</Tag>
		</section>
		<section>
			<Tag tag="div" tagClass="feedback">
				<section class="flex justify-center flex-col gap-9 p-10">
					<h2 class="text-3xl text-center font-family-title font-semibold"><span class="text-green">Вопросы</span>? <span class="text-yellow">Идеи</span>? <span class="text-blue">Работа</span>?</h2>
					<div class="flex justify-center gap-9">
						<a	
							target="_blank"
							href="https://t.me/s1ma_tg" 
							class="text-2xl font-bold flex items-center gap-3 px-3 rounded-3xl
							shadow-[0_0_30px_-5px_var(--color-blue)] cursor-pointer hover:scale-105 hover:shadow-[0_0_30px_-5px_var(--color-white)] transition-[0.3]">
							<Fragment set:html={techIcons.tg}/>
							@s1ma_tg
						</a>
						<button 
							id="mailBtn"
							onclick="handleClick()"
							class="text-2xl font-bold flex items-center gap-3 pr-3 rounded-3xl
							shadow-[0_0_30px_-5px_var(--color-blue)] cursor-pointer hover:scale-105 hover:shadow-[0_0_30px_-5px_var(--color-white)] transition-[0.3]">
							<Fragment set:html={techIcons.mail}/>
							s1mahochukvas@vk.com
						</button>
						<div 
						hidden
						id="toast"
						class="toast toast-end toast-top">
							<div class="alert alert-info !bg-blue !text-background font-bold rounded-2xl">
								<span>Почта скопирована</span>
							</div>
						</div>
					</div>
				</section>
			</Tag>
		</section>
		<section class="flex justify-center">
			<ComingSoon client:idle/>
		</section>
		</div>

		<script src="../scripts/main.ts">			
		</script>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function(m,e,t,r,i,k,a){
				m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
				m[i].l=1*new Date();
				for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
				k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
			})(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104582907', 'ym');

			ym(104582907, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/104582907" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->	
	</body>
</html>
