---

import Tag from '../components/tag/tag.astro'
import Terminal from '../components/terminal/terminal.astro'
import '../app.css'
import FullStack from '../components/typed/title'
import MainBanner from "../components/motion/mainBanner"
import ComingSoon from '../components/typed/comingSoon'
import ProjectCard from '../components/portfolio-projects/ProjectCard.tsx'

---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="keywords" content={`s1ma82, front-end, s1ma, sima, sima82, full-stack, Симанович Даниил Алексеевич, Симанович, Симанович Даниил, Симанович Данил, Симонович Даниил. `}/>
        <meta property="og:title" content="s1ma82 (Симанович Даниил)" /> 
        <meta property="og:description" content="Front-end разработчик из Симферополя" />
        <meta property="og:image" content="https://me.s1ma82.ru/favicon.png" /> 
        <meta property="og:type" content="website" />
		<meta name="generator" content={Astro.generator} />
		<title>s1ma82</title>
	</head>
	<body class="bg-background p-6 overflow-x-hidden">
		<section class="flex justify-between h-[640px] mb-16">
			
			<MainBanner client:idle/>
		
		</section>
		<section class="relative" id="1section">
			<Tag tag="h1" tagClass="title">
				<h1 class="text-4xl text-center py-10 absolute top-10 left-1/2 translate-x-[-200px]"><b>Front-end</b> & <FullStack client:idle/></h1>
				<div class="h-[150px]"></div>
			</Tag>
			<Tag tag="p" tagClass="about-me">
				<p class="ml-14 text-[20px] py-2">
					Человек-оркестр в разработке. Развиваюсь во всём, до чего дотягиваюсь, — люблю разбираться, экспериментировать и находить связи между разными областями. Хочу уметь делать всё сам, но ценю командную работу и обмен идеями. Получаю удовольствие от самого процесса обучения — от технологий и инноваций в IT до истории и культур разных стран.
					</br></br>
					Профессию выбрал в 14 лет, потому что мечтал познать мир и увидеть его своими глазами. Разработка для меня — способ расти, создавать и, однажды, построить что-то своё.
				<div class="flex justify-end items-center text-[20px] gap-3">
					<span class="opacity-70">И вообще, я просто обожаю технику.</span>
					<img src="CpuFill.svg" alt="Процессор? Что?"/>
				</div>
				</p>
			</Tag>
		</section>
		<section class="relative">
			<Tag tag="div" tagClass="terminal">
				<Terminal/>
			</Tag>
		</section>
		<section>
			<Tag tag="ul" tagClass="business-experience">
				<section class="pl-16">
					<Tag tag="li" tagClass="best-project">
						<ProjectCard client:idle
							imgs={['scr.png']} 
							height={500}
							width={800}
							icons={[['react', 'nextjs', 'sass', 'vite', 'redux', 'ts']]}
						>

                        <h2 class="text-3xl w-full text-center font-bold font-inter">Сайт для <span class="text-blue">Симферопольского колледжа радиоэлектроники</span>.</h2>
                        <div class="flex flex-col">
                        <p class="text-[20px] w-full font-medium">
                            Отвечал за разработку клиентской части сайта, админку и редактор контента на базе Tiptap. <br/> Система авторизации через JWT.
                        </p>
                        <p class="text-[20px] w-full font-medium">
                            Отдельная благодарность Бэкендеру проекта, за лаконичное API.
                        </p>
                        <div class="flex gap-3 [&>img]:rounded-xl h-[144px] py-2">
                            <img 
                                class="object-cover h-full cursor-grab transition-[0.3s] duration-300 delay-200 hover:scale-260 "
                                src="scr1.jpg" alt="" 
                            />
                            <img 
                                class="object-cover h-full cursor-grab transition-[0.3s] duration-300 delay-200 hover:scale-260 "
                                src="scr2.jpg" alt="" 
                            />
                        </div>
                        <ul
                            class="flex flex-col list-disc pl-6 text-[20px]"
                        >
                            <li>Человек в команде: <span class="text-blue">3</span></li>
                            <li>Команда: <span class="text-yellow">UI/UX</span>, <span class="text-green">Back+DevOps</span>, <span class="text-blue">Front-end</span></li>
                            <li>Моя роль: <span class="text-blue">Front-end</span> <span class="text-gray">обновляю проект и по сей день</span></li>
                        </ul>
                        </div>
						</ProjectCard>
					</Tag>

					<Tag tag="li" tagClass="freelance-project">
						<ProjectCard client:idle
							imgs={['baraholka.jpg', 'baraholka2.jpg','baraholka1.jpg']} 
							height={500}
							width={1000}
							icons={[
								['react', 'zustand', 'sass', 'vite', 'ts'], 
								['bun', 'elisya', 'grammyjs', 'webpack'],
								['ubuntu', 'pm2', 'nginx', 'sqlite'],
							]}
						>

                        <h2 class="text-3xl w-full text-center font-bold font-inter"><span class="text-green">Интернет каталог.</span></h2>
                        <div class="flex flex-col">
                        <p class="text-[20px] w-full font-medium"><pre>
Сложная задача с ограниченным бюджетом и ресурсами.
Задача:
    Создать <span class="text-dark-blue">Mini-app</span> каталог товаров, для местного предпринимателя.

Итог работы: 
    Был разработан телеграмм-бот и мини-приложение.
    Бот парсит сообщения из телеграмм канала, в котором постятся карточки товаров, и        
    загружает их в базу, откуда мини-приложение их отрисовывает. 
    Так-же через бота происходит управление заказами.
    От хостинга требовалась максимальная бюджетность, поэтому проект требует минимальное       
    количество ресурсов.
</p>
					</pre/>
                        <ul
                            class="flex flex-col list-disc pl-6 text-[20px]"
                        >
                            <li>Человек в команде: <span class="text-blue">1</span></li>
                            <li>Моя роль: 
							<span class="text-blue">Full-stack</span>, 
							<span class="text-green">DevOps</span>, 
							<span class="text-red">UX</span>,
							<span class="text-yellow">UI</span>, 
							<span class="text-[#68FFC3]">общение с заказчиком</span>,

							</li>
                        </ul>
                        </div>
						</ProjectCard>
						</Tag>
				</section>
			</Tag>
		</section>
		<section class="flex justify-center">
			<ComingSoon client:idle/>
		</section>
		<section class="flex justify-center p-10">
			<a class="text-2xl underline" href="https://t.me/s1ma_tg">Телеграмм для связи</a>
			<div class="group [perspective:1000px] w-80 h-52">
			</div>
		</section>
		
		<div class="h-[1500px] w-full"></div>
		<script src="../scripts/main.ts"></script>
	</body>
</html>
